:root {
    --backgroundcolor: #6D676E;
    --textcolor: #FBFFFE;
}

body {
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
}

.header {
    position: fixed;
    top: 20px;
    margin-top: 0;
    border-bottom: solid #FBFFFE 1px;
    background-color: var(--backgroundcolor);
}

nav {
    margin-top: 130px;
    margin-left: 5px;
    width: 90%;
}

input {
    margin-bottom: -1px;
    margin-left: 60px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 21px;
    border-radius: 0;
    border: solid var(--textcolor) 1px;
    border-bottom: none;
    outline: none;
    background-color: var(--backgroundcolor);
    color: var(--textcolor);
}

ul {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.fade {
    position: fixed;
    top: 0px;
    width: 90%;
    height: 90px;
    background-color: var(--backgroundcolor);
}

h3 {
    display: flex;
    margin-bottom: 15px;
}

li {
    display: flex;
    max-width: 40%;
    margin: 3px;
}

p {
    margin: 5px;
}

li * {
    margin: 0 !important;
    margin-right: 3px !important;
    position: inherit !important;
}

h3 * {
    position: inherit !important;
}

.description_ul {
    justify-content: center;
}

#variables {
    display: none;
    background-color: var(--backgroundcolor);
    border: solid var(--textcolor) 1px;
    position: fixed;
}

#helpers {
    transition: opacity 0.3s ease-out;
    opacity: 0;
    display: none;
    border: none;
    top: 60px;
}

#info {
    transition: opacity 0.3s ease-out;
    opacity: 0;
    position: fixed;
    z-index: 9;
    background-color: var(--backgroundcolor);
    border: solid var(--textcolor) 1px;
    font-size: 18px;
    top: 70px;
}

#info::after {
    content: "";
    position: absolute;
    top: -35%;
    left: 23%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--textcolor) transparent;
}